<div class="Loader">
  <div class="Loader__Container" [ngClass]="{ 'fade-out': fadeOut }">
    <div class="Loader__Progress">
      {{ progress }}
    </div>
    <div class="Loader__Infos" [ngClass]="{ 'fade-out': fadeOut }">
      <h1 data-text="Yodea Inc" class="Loader__Name js-toSplit">
        <span class="letter">T</span>
        <span class="letter">h</span>
        <span class="letter">a</span>
        <span class="letter">d</span>
        <span class="letter">d</span>
        <span class="letter">é</span>
        <span class="letter space"> </span>
        <span class="letter">M</span>
        <span class="letter">é</span>
        <span class="letter">n</span>
        <span class="letter">e</span>
        <span class="letter">u</span>
        <span class="letter">r</span>
      </h1>
      <p data-text="Web solutions" class="Loader__Desc js-toSplit">
        <span class="letter">F</span>
        <span class="letter">r</span>
        <span class="letter">e</span>
        <span class="letter">n</span>
        <span class="letter">c</span>
        <span class="letter">h</span>
        <span class="letter space"> </span>
        <span class="letter">d</span>
        <span class="letter">i</span>
        <span class="letter">g</span>
        <span class="letter">i</span>
        <span class="letter">t</span>
        <span class="letter">a</span>
        <span class="letter">l</span>
        <span class="letter space"> </span>
        <span class="letter">d</span>
        <span class="letter">e</span>
        <span class="letter">s</span>
        <span class="letter">i</span>
        <span class="letter">g</span>
        <span class="letter">n</span>
        <span class="letter">e</span>
        <span class="letter">r</span>
      </p>
    </div>
  </div>
</div>