.NextProject {
  position: relative;
  height: 552px;
  width: 100%;
  cursor: pointer;
  margin-top: 110px;
}
.NextProject__TextCusor {
  position: absolute;
  top: 0;
  z-index: 50;
  pointer-events: none;
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}
.NextProject__Canvas {
  margin-top: calc(100vh - 552px);
  height: 552px;
}
.page-leave-active .NextProject {
  height: 100vh;
}
.page-leave-active .NextProject__Canvas {
  margin-top: calc(100vh - 552px);
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0) scale(0.7);
    transform: rotate(0) scale(0.7);
  }
  to {
    -webkit-transform: rotate(1turn) scale(0.7);
    transform: rotate(1turn) scale(0.7);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0) scale(0.7);
    transform: rotate(0) scale(0.7);
  }
  to {
    -webkit-transform: rotate(1turn) scale(0.7);
    transform: rotate(1turn) scale(0.7);
  }
}
