<section class="AllProjects">
  <div class="AllProjects__Header"></div>
  <div class="AllProjects__Container">
    <div class="AllProjects__Content">
      <h4 class="AllProjects__Selected"> Selected Projects </h4>
      <ul class="AllProjects__Titles">
        <li class="AllProjects__Title">
          <a routerLink="/projects/minglabs" class="AllProjects__TitleLink">
            My internship at Minglabs
          </a>
        </li>
        <li class="AllProjects__Title">
          <a routerLink="/projects/teslaxgopro" class="AllProjects__TitleLink">
            Tesla x Go Pro School Project
          </a>
        </li>
        <li class="AllProjects__Title">
          <a routerLink="/projects/weekmeal" class="AllProjects__TitleLink">
            Weekmeal, School Project
          </a>
        </li>
        <li class="AllProjects__Title">
          <a routerLink="/projects/ohmygeorge" class="AllProjects__TitleLink">
            My internship at OhMyGeorge
          </a>
        </li>
        <li class="AllProjects__Title">
          <a routerLink="/projects/pickorr" class="AllProjects__TitleLink">
            Pickorr, Freelance Project
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="AllProjects__Overlay"></div>
</section>