<div class="About__Header">
  <a href="/" class="About__HeaderBack js-linkToHover">
    <span> Back home </span>
    <svg width="24" height="15" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M.293 5.943l3.83-4.788a.957.957 0 0 1 1.494 1.197L3.031 5.584H16.36c3.285 0 6.723 2.149 6.723 5.745v1.915a.957.957 0 1 1-1.915 0V11.33c0-2.397-2.463-3.83-4.808-3.83H3.031l2.585 3.232a.957.957 0 1 1-1.494 1.197L.292 7.14a.96.96 0 0 1 0-1.197z">
      </path>
    </svg>
  </a>
</div>
<div class="AboutScrollContainer">
  <section class="About">
    <h1 class="About__Title"> {{ siteInfo.aboutTitle }} </h1>
    <div class="About__Block">
      <div class="About__SubTitle"> About us </div>
      <p class="About__Paragraph">
        {{ siteInfo.aboutDescription }}
      </p>
    </div>
    <div class="About__Numbers">
      <div class="About__NumbersContainer">
        <div class="About__SubTitle"> Numbers </div>
        <div class="About__NumbersCols">
          <div class="About__NumbersCol">
            <p class="About__NumbersBig"> 12 </p>
            <p class="About__NumbersDesc"> Freelances projects I worked on in 2017 </p>
          </div>
          <div class="About__NumbersCol">
            <p class="About__NumbersBig"> +1e3 </p>
            <p class="About__NumbersDesc"> Number of people using products I’ve designed for </p>
          </div>
          <div class="About__NumbersCol">
            <p class="About__NumbersBig"> 3 </p>
            <p class="About__NumbersDesc"> Professional experiences abroad so far </p>
          </div>
        </div>
      </div>
    </div>
    <div class="About__Block About__Experience">
      <div class="About__SubTitle"> Experience </div>
      <p class="About__Paragraph">
        ⎔ I spent 4 months in Berlin as a design intern for Ming Labs, an award-winning digital agency.
      </p>
      <p class="About__Paragraph">
        ⎔ I spent 4 months in Paris and 2 in Bangkok for OhMyGeorge, a french and thailandeese trading start-up, as an
        intern and as a freelance.
      </p>
      <p class="About__Paragraph">
        ⎔ I spent more than a year with Health &amp; Parenting, a London based company that’s creating apps for
        pregnant women.
      </p>
      <p class="About__Paragraph">
        ⎔ Finally, I worked as a freelance for 3 years, starting as a developer then as a designer, and worked with
        brands like PayFit, Pickorr, Zoe de Las Cases, MBS Accounting NY, BNP Paribas, Carte Bancaire…
      </p>
    </div>
    <div class="About__Reviews">
      <div class="About__SubTitle About__ReviewsTitle"> Client reviews </div>
      <div class="About__ReviewsSlider">
        <div class="About__ReviewsContainer" #containerRef>
          <div class="About__ReviewsTrack" #trackRef>
            <div class="About__Review">
              <div class="About__ReviewContainer">
                <p> «&nbsp;Thaddé is a pleasure to work with. He is hard working and demonstrates a high level of care
                  and commitment to his clients. An excellent UI/UX designer with strong creative ideas and the
                  ability to see them through. </p>
                <p> He learns quickly and is highly capable of managing projects on his own. Thaddé is focused and
                  dedicated to every project he’s given and takes a structured, considered approach to any challenge
                  he encounters. » </p>
                <p class="About__ReviewAuthor"> — Amber Vodegel, Digital Platform solutions at Philips </p>
              </div>
            </div>
            <div class="About__Review">
              <div class="About__ReviewContainer">
                <p> «&nbsp;Working with Thaddé was a real pleasure. Throughout the mission, he has been creative and
                  provided useful and appropriate advices. UX for media, news consumption … he has perfectly adapted
                  his skills and work to our project. And always with smile and kindness ! » </p>
                <p class="About__ReviewAuthor"> — Alexis Raison, CEO at Pickorr </p>
              </div>
            </div>
            <div class="About__Review">
              <div class="About__ReviewContainer">
                <p> «&nbsp;Thaddé is a very creative person with a deep understanding of commercial and technical
                  constraints, which enables him to consistently deliver actionable design outputs. He's got the right
                  mix of artistic sensitivity, programming knowledge and pragmatic business acumen, so he is of great
                  value in a lead design role. » </p>
                <p class="About__ReviewAuthor"> — Lucien Tavano, Founder and CEO at OhMyGeorge </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="About__Block About__Awards">
      <div class="About__SubTitle"> Awards and distinctions </div>
      <p class="About__Paragraph">
        <a href="https://tympanus.net/codrops/collective/collective-288/">
          Portfolio 2017 — Featured on Co Drops <span class="arrow">→</span>
        </a>
      </p>
      <p class="About__Paragraph">
        <a href="http://www.webdesignerdepot.com/2017/02/the-best-new-portfolio-sites-february-2017/">
          Portfolio 2017 — Featured on Web Designer Depot <span class="arrow">→</span>
        </a>
      </p>
      <p class="About__Paragraph">
        <a href="http://www.frenchdesignindex.com/design-index-12838">
          Portfolio 2017 — SOTD French Design Index <span class="arrow">→</span>
        </a>
      </p>
      <p class="About__Paragraph">
        <a href="http://www.cssdsgn.com/thadde-meneur/">
          Portfolio 2017 — SOTD CSS Design <span class="arrow">→</span>
        </a>
      </p>
      <p class="About__Paragraph">
        <a href="http://www.cssdesignawards.com/sites/thadde-meneur-portfolio/30062/">
          Portfolio 2017 — Special Kudos CSS Design Awards <span class="arrow">→</span>
        </a>
      </p>
    </div>
    <h4 class="About__Beer"> Drop me a line if you want to have a beer or something. If you have a project you want us
      to work together on, that’s even better. </h4>
    <ul class="About__Socials">
      <li><a href="mailto:thaddemeneur@gmail.com"> Contact </a></li>
      <li><a target="_blank" href="https://www.behance.net/Thadde"> Behance </a></li>
      <li><a target="_blank" href="https://dribbble.com/Thadde"> Dribbble </a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/thadd%C3%A9-meneur/"> LinkedIn </a></li>
      <li><a target="_blank" href="https://www.instagram.com/thaddemeneur/"> Instagram </a></li>
    </ul>
    <div class="About__Archives">
      <div class="About__ArchivesContainer">
        <a target="_blank" href="http://www.2017.thaddemeneur.com"> Archive - Portfolio 2017 </a>
      </div>
    </div>
    <div class="About__Internship">
      <p class="About__InternshipText">
        → Oh, and I am looking for an internship from July to December in the United States. Rojer is also looking
        for an internship. ←
      </p>
    </div>
    <div class="About__Footer">
      <p class="About__FooterCredits"> © All rights reserved, 2018 </p>
      <a target="_blank" href="http://youtube.com/rojermann" class="About__Developer"> Coded by Rojer Nepali 🍺 </a>
    </div>
  </section>
</div>