<div class="Mobile__Header">
  <h1> {{ siteInfo.name }} </h1>
</div>
<div class="Mobile__Alert">
  <div class="Mobile__AlertText">
    <div class="Mobile__SubTitle"> Coming soon </div>
    <div>
      We’re working on the mobile version. Come back later !
    </div>
  </div>
</div>
<h2 class="Mobile__Title"> {{ siteInfo.aboutTitle }} </h2>
<div class="Mobile__Block">
  <div class="Mobile__SubTitle"> About us </div>
  <p class="Mobile__Paragraph">
    {{ siteInfo.aboutDescription }}
  </p>
</div>
<div class="Mobile__Numbers">
  <div class="Mobile__NumbersContainer">
    <div class="Mobile__SubTitle"> Numbers </div>
    <div class="Mobile__NumbersCols">
      <div class="Mobile__NumbersCol">
        <p class="Mobile__NumbersBig"> 12 </p>
        <p class="Mobile__NumbersDesc"> Freelances projects we've worked on </p>
      </div>
      <div class="Mobile__NumbersCol">
        <p class="Mobile__NumbersBig"> +1000 </p>
        <p class="Mobile__NumbersDesc"> Number of people using products we’ve designed for </p>
      </div>
      <div class="Mobile__NumbersCol">
        <p class="Mobile__NumbersBig"> 3 </p>
        <p class="Mobile__NumbersDesc"> Professional experiences abroad so far </p>
      </div>
    </div>
  </div>
</div>
<div class="Mobile__Block Mobile__Experience">
  <div class="Mobile__SubTitle"> Experience </div>
  <p class="Mobile__Paragraph">
    ⎔ I spent 4 months in Berlin as a design intern for Ming Labs, an award-winning digital agency.
  </p>
  <p class="Mobile__Paragraph">
    ⎔ I spent 4 months in Paris and 2 in Bangkok for OhMyGeorge, a french and thailandeese trading start-up, as an
    intern and as a freelance.
  </p>
  <p class="Mobile__Paragraph">
    ⎔ I spent more than a year with Health &amp; Parenting, a London based company that’s creating apps for pregnant
    women.
  </p>
  <p class="Mobile__Paragraph">
    ⎔ Finally, I worked as a freelance for 3 years, starting as a developer then as a designer, and worked with brands
    like PayFit, Pickorr, Zoe de Las Cases, MBS Accounting NY, BNP Paribas, Carte Bancaire…
  </p>
</div>
<div class="Mobile__Reviews">
  <div class="Mobile__SubTitle Mobile__ReviewsTitle"> Client reviews </div>
  <div class="Mobile__ReviewsSlider">
    <div class="Mobile__ReviewsContainer" #containerRef>
      <div class="Mobile__ReviewsTrack" #trackRef>
        <div class="Mobile__Review">
          <div class="Mobile__ReviewContainer">
            <p> «&nbsp;Thaddé is a pleasure to work with. He is hard working and demonstrates a high level of care and
              commitment to his clients. An excellent UI/UX designer with strong creative ideas and the ability to see
              them through. </p>
            <p> He learns quickly and is highly capable of managing projects on his own. Thaddé is focused and dedicated
              to every project he’s given and takes a structured, considered approach to any challenge he encounters. »
            </p>
            <p class="Mobile__ReviewAuthor"> — Amber Vodegel, Digital Platform solutions at Philips </p>
          </div>
        </div>
        <div class="Mobile__Review">
          <div class="Mobile__ReviewContainer">
            <p> «&nbsp;Working with Thaddé was a real pleasure. Throughout the mission, he has been creative and
              provided useful and appropriate advices. UX for media, news consumption … he has perfectly adapted his
              skills and work to our project. And always with smile and kindness ! » </p>
            <p class="Mobile__ReviewAuthor"> — Alexis Raison, CEO at Pickorr </p>
          </div>
        </div>
        <div class="Mobile__Review">
          <div class="Mobile__ReviewContainer">
            <p> «&nbsp;Thaddé is a very creative person with a deep understanding of commercial and technical
              constraints, which enables him to consistently deliver actionable design outputs. He's got the right mix
              of artistic sensitivity, programming knowledge and pragmatic business acumen, so he is of great value in a
              lead design role. » </p>
            <p class="Mobile__ReviewAuthor"> — Lucien Tavano, Founder and CEO at OhMyGeorge </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Mobile__Block Mobile__Awards">
  <div class="Mobile__SubTitle"> Awards and distinctions </div>
  <p class="Mobile__Paragraph">
    <a href="javascript:void(0);">
      Portfolio 2017 — Featured on Co Drops
      <span class="arrow">→</span>
    </a>
  </p>
  <p class="Mobile__Paragraph">
    <a href="javascript:void(0);">
      Portfolio 2017 — Featured on Web Designer Depot <span class="arrow">→</span>
    </a>
  </p>
  <p class="Mobile__Paragraph">
    <a href="javascript:void(0);">
      Portfolio 2017 — SOTD French Design Index <span class="arrow">→</span>
    </a>
  </p>
  <p class="Mobile__Paragraph">
    <a href="javascript:void(0);">
      Portfolio 2017 — SOTD CSS Design <span class="arrow">→</span>
    </a>
  </p>
  <p class="Mobile__Paragraph">
    <a href="javascript:void(0);"> Portfolio
      2017 — Special Kudos CSS Design Awards <span class="arrow">→</span>
    </a>
  </p>
</div>
<h4 class="Mobile__Beer">
  Drop us a line if you want to have a beer or something. If you have a project you want us to
  work together on, that’s even better.
</h4>
<ul class="Mobile__Socials">
  <li><a href="mailto:info@yodea.org"> Contact </a></li>
  <li><a target="_blank" href="https://www.facebook.com/yodeainc/"> Facebook </a></li>
  <li><a target="_blank" href="https://www.youtube.com/rojermann/"> YouTube </a></li>
  <li><a target="_blank" href="https://www.twitter.com/rojermaharjan/"> Twitter </a></li>
  <li><a target="_blank" href="https://www.instagram.com/etauta/"> Instagram </a></li>
</ul>
<div class="Mobile__Archives">
  <div class="Mobile__ArchivesContainer">
    <a target="_blank" href="http://www.2017.thaddemeneur.com"> Archive - Portfolio 2017 </a>
  </div>
</div>
<div class="Mobile__Internship">
  <p class="Mobile__InternshipText">
    → Oh, and We're looking for an internship from July to December in the Nepal. Rojer is also looking for an
    internship. ←
  </p>
</div>
<div class="Mobile__Footer">
  <p class="Mobile__FooterCredits"> © All rights reserved, 2018 </p>
  <a target="_blank" href="http://youtube.com/rojermann" class="Mobile__Developer">Coded by Rojer Nepali 🍺</a>
</div>