<section class="Islands">
  <div class="Islands__Container">
    <div class="Islands__Left Islands__Side">
      <div class="Islands__SideContainer">
        <img src="/assets/images/projects/minglabs/islands/left/01-top.svg" class="Islands__Image Islands__Image--01">
        <img src="/assets/images/projects/minglabs/islands/left/01-shadow.svg"
          class="Islands__Shadow Islands__Shadow--01">
        <img src="/assets/images/projects/minglabs/islands/left/02-top.svg" class="Islands__Image Islands__Image--02">
        <img src="/assets/images/projects/minglabs/islands/left/02-shadow.svg"
          class="Islands__Shadow Islands__Shadow--02">
        <img src="/assets/images/projects/minglabs/islands/left/03-top.svg" class="Islands__Image Islands__Image--03">
        <img src="/assets/images/projects/minglabs/islands/left/03-shadow.svg"
          class="Islands__Shadow Islands__Shadow--03">
        <img src="/assets/images/projects/minglabs/islands/left/04-top.svg" class="Islands__Image Islands__Image--04">
        <img src="/assets/images/projects/minglabs/islands/left/04-shadow.svg"
          class="Islands__Shadow Islands__Shadow--04">
        <img src="/assets/images/projects/minglabs/islands/left/05-top.svg" class="Islands__Image Islands__Image--05">
        <img src="/assets/images/projects/minglabs/islands/left/05-shadow.svg"
          class="Islands__Shadow Islands__Shadow--05">
        <img src="/assets/images/projects/minglabs/islands/left/06-top.svg" class="Islands__Image Islands__Image--06">
        <img src="/assets/images/projects/minglabs/islands/left/06-shadow.svg"
          class="Islands__Shadow Islands__Shadow--06">
      </div>
    </div>
    <div class="Islands__Right Islands__Side">
      <div class="Islands__SideContainer">
        <img src="/assets/images/projects/minglabs/islands/right/01-top.svg" class="Islands__Image Islands__Image--01">
        <img src="/assets/images/projects/minglabs/islands/right/01-shadow.svg"
          class="Islands__Shadow Islands__Shadow--01">
        <img src="/assets/images/projects/minglabs/islands/right/02-top.svg" class="Islands__Image Islands__Image--02">
        <img src="/assets/images/projects/minglabs/islands/right/02-shadow.svg"
          class="Islands__Shadow Islands__Shadow--02">
        <img src="/assets/images/projects/minglabs/islands/right/03-top.svg" class="Islands__Image Islands__Image--03">
        <img src="/assets/images/projects/minglabs/islands/right/03-shadow.svg"
          class="Islands__Shadow Islands__Shadow--03">
        <img src="/assets/images/projects/minglabs/islands/right/04-top.svg" class="Islands__Image Islands__Image--04">
        <img src="/assets/images/projects/minglabs/islands/right/04-shadow.svg"
          class="Islands__Shadow Islands__Shadow--04">
        <img src="/assets/images/projects/minglabs/islands/right/05-top.svg" class="Islands__Image Islands__Image--05">
        <img src="/assets/images/projects/minglabs/islands/right/05-shadow.svg"
          class="Islands__Shadow Islands__Shadow--05">
        <img src="/assets/images/projects/minglabs/islands/right/06-top.svg" class="Islands__Image Islands__Image--06">
        <img src="/assets/images/projects/minglabs/islands/right/06-shadow.svg"
          class="Islands__Shadow Islands__Shadow--06">
      </div>
    </div>
  </div>
</section>